<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UltraLeopard</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link href="http://bit.ly/ICONKIT" rel="stylesheet">
    <link href="ExtensionIcon.png" rel="icon" type="image/png">
  </head>
  <body>
    <script src="https://raw.githubusercontent.com/eligrey/FileSaver.js/master/src/FileSaver.js"></script>
    <script src="https://raw.githubusercontent.com/eligrey/Blob.js/master/Blob.js"></script>
  </body>
</html>
